{
  "extends": "standard",
  "rules": {
    "new-cap": 0,
    "space-before-function-paren": "off",
    "multiline-ternary": "error",
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ]
  }
}
